body {
	max-width: 1080px;
	margin: auto;
    font-family: 'Lato', helvetica, arial, sans-serif; 
    font-size: 16px;
}
h1 {
	text-align: center;
}
table {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: table;
}
tr {
	height: 48px;
}
th {
	border-bottom: 1px solid #ced7dd;
	border-top: 1px solid #ced7dd;
}
td {
	padding: 16px;
	display: table-cell;
	text-align: center;
	border-bottom: 1px solid #ced7dd;
}
.in-line {
	display: inline-block;
}
.center {
	text-align: center;
}
.float-right {
	text-align: right;
}
.float-left {
	text-align: left;
}
.input {
	width: 100%;
}
.card-item {
	width: 80%;
	height: 5%;
	margin: auto;
	text-align: center;
	transition: 0.2s;
	box-shadow: 0 0 0 0 rgb(87, 114, 187);
	border-radius: 8px;
}
.card-item:hover {
    box-shadow: 0 0 12px 0 rgb(20, 45, 82);
}
.logo-img {
	width: 32px;
	height: 32px;
}
.red {
	color: red;
}
.green {
	color: green;
}
.narrow {
	width: 50px;
}
.blue-bg {
	background-color: rgba(150, 212, 212, 0.2);
}
.label {
	text-align: left;
	width: 10vw;
}
.comment {
	font-weight: bold;
}
.link-light {
	text-decoration: none;
    color: #333;
}
.link-light:hover {
  	text-decoration: underline;
}
.banner-div {
	width: 60%; 
	margin: auto; 
	text-align: center;
}
.banner {
    box-shadow: 0 0 0 0 rgb(87, 114, 187);
    transition: 0.2s;
    border-radius: 8px;
    margin-top: 64px;
    margin-bottom: 24px;
    background-color: rgb(150, 167, 186);
}
.banner:hover {
    box-shadow: 0 0 12px 0 rgb(20, 45, 82);
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(137, 181, 248, 0.2);
}
.nav_item {
    float: left;
}
.nav_login {
    float: right;
}
.nav_link {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.2s;
}
.nav_link:hover {
	color: #343434;
    background-color: rgba(137, 181, 248, 0.2);
}
#loss {
    color: red;
}
#gain {
    color: forestgreen;
}
.buy-form {
	padding-top: 16px;
	width: 60%;
	margin: auto;
}
.buy-row {
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.buy-row input,.buy-btn {
	width: 33%;
	font-size: 1.2rem;
	border-radius: 8px;
	border: 2px solid silver;
	color: rgb(87, 114, 187);
}
.index-container {
	padding: 5%;
	margin: auto;
	text-align: center;
}
.index-container p{
	margin: 24px; 
	text-align: center; 
	font-size: 1.2rem;
}
.index-container button{
	width: 50%;
	padding: 8px;
	margin: 12px;
	font-size: 1.1rem;
	border-radius: 8px;
	border: 2px solid rgb(8, 97, 201);
	color: white;
	background-color: rgb(8, 97, 201);
	transition: 0.2s;
}
.index-container button:hover {
	cursor:pointer;
    background-color: rgba(8, 97, 201, .5);
}
.donations {
	width: 60%; 
	height: 100%; 
	margin: auto; 
	text-align: center;
}
.donations a {
	font-size: .8rem;
}
.login-block {
	padding: 24px;
	width: 50%;
	margin: auto;
}
.login-block div {	
	margin: 12px;
	width: 100%;
}
.login-block label {
	font-size: 1.2rem;
}
.login-block input {
	width: 96%;
	padding: 8px;
	font-size: 1.1rem;
	border-radius: 8px;
	border: 2px solid rgb(137, 181, 248);
	background-color: #F1F1F1;
}
.login-block .btn {
	text-align: center;
	width: 100%;
	margin-top: 8px;
	padding: 8px;
	font-size: 1.1rem;
	border-radius: 8px;
	border: 2px solid rgb(8, 97, 201);
	color: white;
	background-color: rgb(8, 97, 201);
	transition: 0.2s;
}
.login-block .red-btn {
	text-align: center;
	width: 100%;
	margin-top: 8px;
	padding: 8px;
	font-size: 1.1rem;
	border-radius: 8px;
	border: 2px solid rgb(200, 0, 0);
	color: white;
	background-color: rgb(200, 0, 0);
	transition: 0.2s;
}
.login-block .btn:hover {
	cursor:pointer;
    background-color: rgba(8, 97, 201, .5);
}
.login-block .red-btn:hover {
	cursor:pointer;
    background-color: rgba(200, 0, 0, .5);
}
.text-danger {
	color: red;
}
.header {
	text-align: center;
	padding: 12px;
}
.sell-btn, .del-btn {
	background-color: rgba(150, 212, 212, 0.2);
	border-radius: 2px;
	border: 1px solid #ced7dd;
	padding: 2px 12px;
}
.switch-container {
	width: 100px;
	margin: auto;
}
.switch-container p {
	text-align: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
}
input:checked + .slider:before {
  -webkit-transform: translateX(76px);
  -ms-transform: translateX(76px);
  transform: translateX(76px);
   background-color: white;
}
.slider.round {
  border-radius: 24px;
}
.slider.round:before {
  border-radius: 50%;
}
.search-container {
	border-radius: 2px;
	padding: 6px 12px 12px 12px;
}
.search-row {
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.search-container input {
	width: 80%;
	font-size: 1.2rem;
	border-radius: 8px;
	border: 2px solid silver;
	color: rgb(87, 114, 187);
	padding-left: 12px;
}
.search-container .search-btn {
	width: 18%;
	font-size: 1.2rem;
	border-radius: 8px;
	border: 2px solid silver;
	color: rgb(87, 114, 187);
}